<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.mappers.BoardMapper">

 	<insert id="memberRegist"> 
       INSERT INTO member(
			mem_userid,
			mem_email,
			mem_nickname,
			mem_password
       ) values (
    		#{mem_userid},
			#{mem_email},
			#{mem_nickname},
			#{mem_password}
       )
    </insert>
</mapper>