<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mappers.memberMapper">
	
	<!-- 아이디 중복조회 -->
	<select id="useridCheck" resultType="int">
		select
			COUNT(*) 
		from member
		WHERE mem_userid = #{mem_userid}
	</select>

	<!-- 회원가입 -->
 	<insert id="memberRegist"> 
       INSERT INTO member(
			mem_userid,
			mem_email,
			mem_nickname,
			mem_password
       ) values (
    		#{mem_userid},
			#{mem_email},
			#{mem_nickname},
			#{mem_password}
       )
    </insert>
</mapper>