<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  	<typeAliases>
		<typeAlias type="kr.co.gameshop.vo.Board" alias="Board"/>
		<typeAlias type="kr.co.gameshop.vo.Game" alias="Game"/>
		<typeAlias type="kr.co.gameshop.vo.Member" alias="Member"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="src/main/resources/mappers/memberMapper.xml"/>
		<mapper resource="src/main/resources/mappers/gameMapper.xml"/>
		<mapper resource="src/main/resources/mappers/boardMapper.xml"/>
	</mappers>
</configuration>